<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1>Health Consumer Organisation Finance Database</h1>

    <p>THIS IS THE HOME PAGE. This will be where the website is viewed.</p>

    <input type="text" placeholder="Year" />
    <button type="button" style="color: blue">Submit</button>
    <input type="text" placeholder="Pharmaceutical" />
    <button type="button" style="color: blue">Submit</button>
    <input type="text" placeholder="HCO" />
    <button type="button" style="color: blue">Submit</button>

    <br>

    <select name=year">
      <option value="filter">Filter</option>
      <option value="greater than">Greater Than</option>
      <option value="less than">Less Than</option>
    </select>
    
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 

    <select name=pharmaceutical">
      <option value="filter">Filter</option>
      <option value="greater than">Entries Before</option>
      <option value="less than">Entries After</option>
    </select>

    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 

    <select name=HCO">
      <option value="filter">Filter</option>
      <option value="greater than">Entries Before</option>
      <option value="less than">Entries After</option>
    </select>

    <br><br><br>

    <table>
      <tr>
        <th>Year</th>
        <th>Pharmaceutical</th>
        <th>Health Consumer Organisation</th>
        <th>Description</th>
        <th>Nature of Support</th>
      </tr>
      <tr>
        <td>2013</td>
        <td>A. Menarini</td>
        <td>Impotance Australia</td>
        <td>Unrestricted grant to support 1800 hotline for ED</td>
        <td>$20 000</td>
      </tr>
      <tr>
        <td>2014</td>
        <td>A. Menarini</td>
        <td>Impotance Australia</td>
        <td>Unrestricted grant to support 1800 hotline for ED</td>
        <td>$20 000</td>
      </tr>
      <tr>
        <td>2015</td>
        <td>A. Menarini</td>
        <td>Rare Voices Australia</td>
        <td>
          Sponsorship with supporting Australians living with rare diseases
        </td>
        <td>$20 000</td>
      </tr>
      <tr>
        <td>2015</td>
        <td>A. Menarini</td>
        <td>MDDA</td>
        <td>
          Sponsorship to support patients with hereditary tyrosinaemia type 1
        </td>
        <td>$18 700</td>
      </tr>
      <tr>
        <td>2015</td>
        <td>A. Menarini</td>
        <td>Arthritus Australia</td>
        <td>
          Sponsorship for development and printing of patient gout booklet
        </td>
        <td>$9 295</td>
      </tr>
    </table>
  </body>
</html>
